.procurementPage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    flex-direction: column;
}
.procurementHeading {
    font-size: 1.3em;
    font-weight: 400;
}
.desc {
    margin-top: 0.5em;
    font-size: 0.9em;
    color: #555;
    text-align: center;
    max-width: 600px;
}
.fileUpload{
    margin-top: 1em;
    cursor: pointer;
}
.uploadIcon{
    cursor: pointer;
    height: 500px;
    width: 500px;
}
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
    margin-bottom: 1em;
}